.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-md-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

/* card */
.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card .card-header {
	padding: 15px 15px 0;
	background-color: #FFFFFF;
	border-bottom: none !important;
}

.card h4, 
.card .h4 {
	font-size: 22px;
	line-height: 30px;
}

.card .card-category, .card label {
	font-size: 14px;
	font-weight: 400;
	color: #9A9A9A;
	margin-bottom: 0px;
}

.card-title {
	margin-bottom: .75rem;
}

.card .card-title {
	margin: 0;
	color: #333333;
	font-weight: 300;
}

.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}

.table-full-width {
	margin-left: -15px;
	margin-right: -15px;
}

.table-full-width {
	margin-left: -15px;
	margin-right: -15px;
}

.table-responsive {
	overflow: visible;
}

.card .card-body {
	padding: 15px 15px 10px 15px;
}

.card-body table {
	border-collapse: collapse;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}

.table td, .table th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #e9ecef;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #e9ecef;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 12px 8px;
	vertical-align: middle;
}

.table > thead > tr > th {
	border-bottom-width: 1px;
	font-size: 12px;
	text-transform: uppercase;
	color: #9A9A9A;
	font-weight: 400;
	padding-bottom: 5px;
	border-top: none !important;
	border-bottom: none;
	text-align: left !important;
}

.card .table tbody td:first-child, .card .table thead th:first-child {
	padding-left: 15px;
}



.table > tbody > tr {
	position: relative;
}

.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: rgba(0,0,0,.05);
}

.table > tbody > tr {
	position: relative;
}


.table > thead > tr > th {
	border-bottom-width: 1px;
	font-size: 12px;
	text-transform: uppercase;
	color: #9A9A9A;
	font-weight: 400;
	padding-bottom: 5px;
	border-top: none !important;
	border-bottom: none;
	text-align: left !important;
}

.card .table tbody td:first-child, 
.card .table thead th:first-child {
	padding-left: 15px;
}


/* pager */
.pagination>li:first-child>a, .pagination>li:first-child>span,
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-radius: 0;
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	list-style: none;
}

.page-link {
	position: relative;
	display: block;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #e0e0e0;
}

.page-link {
	-webkit-transition: none;
	transition: none;
}

.page-link {
	padding: .375rem .75rem;
}

.page-link {
	font-size: .9rem;
	background-color: transparent;
	border: 0;
	outline: 0;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	border-radius: .25rem;
}

.page-link, .page-link:hover {
	color: #212529;
}

.page-item:first-child .page-link {
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

.justify-content-end {
	-webkit-box-pack: end !important;
	-ms-flex-pack: end !important;
	justify-content: flex-end !important;
}

.page-link:hover {
	z-index: 2;
	background-color: #eee;
	border-color: #e0e0e0;
}

.page-link, .page-link:hover {
	color: #212529;
	text-decoration: none;
}

.invisible {
	visibility: hidden;
}