.footer {
	background-color: #FFFFFF;
}

.footer {
	height: 60px;
}

.footer {
	border-top: 1px solid #e7e7e7;
}

.footer a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

.footer a:hover, 
.footer a:focus {
	color: #42d0ed;
	text-decoration: none;
}

.container-fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
}

.footer nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.footer .footer-menu {
	height: 41px;
}

.footer .footer-menu {
	float: left;
}

.footer nav > ul a:not(.btn):hover, .footer nav > ul a:not(.btn):focus {
	color: #777777;
}

.footer:not(.footer-big) nav > ul {
	font-size: 14px;
}

.footer:not(.footer-big) nav > ul li {
	margin-left: 20px;
	float: left;
}

.footer:not(.footer-big) nav > ul li:first-child {
	margin-left: 0;
}

.footer nav > ul a:not(.btn) {
	color: #9A9A9A;
	display: block;
	margin-bottom: 3px;
}

.footer:not(.footer-big) nav > ul a {
	padding: 10px 0px;
	margin: 10px 10px 10px 0px;
}

.footer .copyright {
	color: #777777;
	padding: 10px 15px;
	margin: 10px 3px;
	line-height: 20px;
	font-size: 14px;
}

.footer .copyright {
	float: right;
}

