.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 260px;
	display: block;
	z-index: 1;
	color: #fff;
	font-weight: 200;
	background-size: cover;
	background-position: center center;
}

.sidebar {
	overflow: auto;
	max-height: 100%;
	height: 100%;
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-webkit-transition-duration: .2s, .2s;
	transition-duration: .2s, .2s;
	-webkit-transition-timing-function: linear, linear;
	transition-timing-function: linear, linear;
	-webkit-overflow-scrolling: touch;
}

.sidebar::after, 
.sidebar::before, 
body > .navbar-collapse::after, 
body > .navbar-collapse::before {
	display: block;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

.sidebar::before,
body > .navbar-collapse::before {
	opacity: .33;
	background: #000000;
}

.sidebar[data-image]::after, 
.sidebar.has-image::after, 
body > .navbar-collapse[data-image]::after, 
body > .navbar-collapse.has-image::after {
	opacity: .77;
}

.sidebar::after, 
body > .navbar-collapse::after {
	background: #9368E9;
	background: -moz-linear-gradient(top, #9368E9 0%, #943bea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9368E9), color-stop(100%, #943bea));
	background: -webkit-linear-gradient(top, #9368E9 0%, #943bea 100%);
	background: -o-linear-gradient(top, #9368E9 0%, #943bea 100%);
	background: -ms-linear-gradient(top, #9368E9 0%, #943bea 100%);
	background: linear-gradient(to bottom, #9368E9 0%, #943bea 100%);
	background-size: 150% 150%;
	z-index: 3;
	opacity: 1;
}


.sidebar .sidebar-wrapper {
	position: relative;
	max-height: calc(100vh - 75px);
	min-height: 100%;
	overflow: auto;
	width: 260px;
	z-index: 4;
	padding-bottom: 100px;
}

.sidebar .logo {
	padding: 10px 15px 9px 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	position: relative;
	z-index: 4;
}

.sidebar .logo {
	padding: 10px 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar .logo .simple-text, 
body > .navbar-collapse .logo .simple-text {
	text-transform: uppercase;
	padding: 5px 0px;
	display: block;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	line-height: 30px;
}

.sidebar .logo .simple-text, 
body > .navbar-collapse .logo .simple-text {
	text-transform: uppercase;
	padding: 5px 0px;
	display: block;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	font-weight: 400;
	line-height: 30px;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.sidebar .nav {
	margin-top: 20px;
	float: none;
	display: block;
}

.sidebar, 
body > .navbar-collapse {
	color: #fff;
	font-weight: 200;
}

.sidebar .nav a, 
.table > tbody > tr .td-actions .btn {
	-webkit-transition: all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
	-o-transition: all 150ms ease-in;
	-ms-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
}

.sidebar .nav .nav-item {
    
}

.sidebar .nav li .nav-link, 
body > .navbar-collapse .nav li .nav-link {
	color: #FFFFFF;
	margin: 5px 15px;
	opacity: .86;
	border-radius: 4px;
	display: block;
	padding: 10px 15px;
}

.sidebar .nav .nav-link, 
body > .navbar-collapse .nav .nav-link {
	color: #FFFFFF;
	margin: 5px 15px;
	opacity: .86;
	border-radius: 4px;
	text-transform: uppercase;
	line-height: 30px;
	font-size: 12px;
	font-weight: 600;
}

.sidebar .nav li .nav-link, 
body > .navbar-collapse .nav li .nav-link {
	color: #FFFFFF;
	margin: 5px 15px;
	opacity: .86;
	border-radius: 4px;
	display: block;
	padding: 10px 15px;
}

.sidebar .nav li.active .nav-link, 
body > .navbar-collapse .nav li.active .nav-link {
	color: #FFFFFF;
	opacity: 1;
	background: rgba(255, 255, 255, 0.23);
}

.sidebar .nav li:hover .nav-link, 
body > .navbar-collapse .nav li:hover .nav-link {
	background: rgba(255, 255, 255, 0.13);
	opacity: 1;
}


.nc-icon {
	display: inline-block;
	font: normal normal normal 14px/1 'nucleo-icons';
	font-size: inherit;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sidebar .nav li .nav-link i,
 body > .navbar-collapse .nav li .nav-link i {
	font-size: 28px;
	margin-right: 15px;
	width: 30px;
	text-align: center;
	vertical-align: middle;
	float: left;
}

.sidebar .nav a, 
.table > tbody > tr .td-actions .btn {
	-webkit-transition: all 150ms ease-in;
	-moz-transition: all 150ms ease-in;
	-o-transition: all 150ms ease-in;
	-ms-transition: all 150ms ease-in;
	transition: all 150ms ease-in;
}

.sidebar .nav .nav-link, 
body > .navbar-collapse .nav .nav-link {
	color: #FFFFFF;
	margin: 5px 15px;
	opacity: .86;
	border-radius: 4px;
	text-transform: uppercase;
	line-height: 30px;
	font-size: 12px;
	font-weight: 600;
}

.sidebar .nav li .nav-link, 
body > .navbar-collapse .nav li .nav-link {
	color: #FFFFFF;
	margin: 5px 15px;
	opacity: .86;
	border-radius: 4px;
	display: block;
	padding: 10px 15px;
}

.sidebar .nav li .nav-link p, 
body > .navbar-collapse .nav li .nav-link p {
	margin: 0;
	line-height: 31px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-flex;
}


.sidebar .sidebar-background, 
body > .navbar-collapse .sidebar-background {
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
}

.sidebar .sidebar-background {
    background-image: url(/images/sidebar-5.jpg)
}

.sidebar p {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
	font-weight: 400;
}

.sidebar .nav li .nav-link p, body > .navbar-collapse .nav li .nav-link p {
	margin: 0;
	line-height: 31px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-flex;
}


.nc-air-baloon::before {
    content: "\ea01";
}

.nc-album-2::before {
    content: "\ea02";
}

.nc-alien-33::before {
    content: "\ea03";
}

.nc-align-center::before {
    content: "\ea04";
}

.nc-align-left-2::before {
    content: "\ea05";
}

.nc-ambulance::before {
    content: "\ea06";
}

.nc-android::before {
    content: "\ea07";
}

.nc-app::before {
    content: "\ea08";
}

.nc-apple::before {
    content: "\ea09";
}

.nc-atom::before {
    content: "\ea0a";
}

.nc-attach-87::before {
    content: "\ea0b";
}

.nc-audio-92::before {
    content: "\ea0c";
}

.nc-backpack::before {
    content: "\ea0d";
}

.nc-badge::before {
    content: "\ea0e";
}

.nc-bag::before {
    content: "\ea0f";
}

.nc-bank::before {
    content: "\ea10";
}

.nc-battery-81::before {
    content: "\ea11";
}

.nc-bell-55::before {
    content: "\ea12";
}

.nc-bold::before {
    content: "\ea13";
}

.nc-bulb-63::before {
    content: "\ea14";
}

.nc-bullet-list-67::before {
    content: "\ea15";
}

.nc-bus-front-12::before {
    content: "\ea16";
}

.nc-button-pause::before {
    content: "\ea17";
}

.nc-button-play::before {
    content: "\ea18";
}

.nc-button-power::before {
    content: "\ea19";
}

.nc-camera-20::before {
    content: "\ea1a";
}

.nc-caps-small::before {
    content: "\ea1b";
}

.nc-cart-simple::before {
    content: "\ea1c";
}

.nc-cctv::before {
    content: "\ea1d";
}

.nc-chart-bar-32::before {
    content: "\ea1e";
}

.nc-chart-pie-35::before {
    content: "\ea1f";
}

.nc-chart-pie-36::before {
    content: "\ea20";
}

.nc-chart::before {
    content: "\ea21";
}

.nc-chat-round::before {
    content: "\ea22";
}

.nc-check-2::before {
    content: "\ea23";
}

.nc-circle-09::before {
    content: "\ea24";
}

.nc-circle::before {
    content: "\ea25";
}

.nc-cloud-download-93::before {
    content: "\ea26";
}

.nc-cloud-upload-94::before {
    content: "\ea27";
}

.nc-compass-05::before {
    content: "\ea28";
}

.nc-controller-modern::before {
    content: "\ea29";
}

.nc-credit-card::before {
    content: "\ea2a";
}

.nc-delivery-fast::before {
    content: "\ea2b";
}

.nc-email-83::before {
    content: "\ea2c";
}

.nc-email-85::before {
    content: "\ea2d";
}

.nc-explore-2::before {
    content: "\ea2e";
}

.nc-fav-remove::before {
    content: "\ea2f";
}

.nc-favourite-28::before {
    content: "\ea30";
}

.nc-globe-2::before {
    content: "\ea31";
}

.nc-grid-45::before {
    content: "\ea32";
}

.nc-headphones-2::before {
    content: "\ea33";
}

.nc-html5::before {
    content: "\ea34";
}

.nc-istanbul::before {
    content: "\ea35";
}

.nc-key-25::before {
    content: "\ea36";
}

.nc-layers-3::before {
    content: "\ea37";
}

.nc-light-3::before {
    content: "\ea38";
}

.nc-lock-circle-open::before {
    content: "\ea39";
}

.nc-map-big::before {
    content: "\ea3a";
}

.nc-mobile::before {
    content: "\ea3c";
}

.nc-money-coins::before {
    content: "\ea3b";
}

.nc-note-03::before {
    content: "\ea3d";
}

.nc-notes::before {
    content: "\ea3e";
}

.nc-notification-70::before {
    content: "\ea3f";
}

.nc-palette::before {
    content: "\ea40";
}

.nc-paper-2::before {
    content: "\ea41";
}

.nc-pin-3::before {
    content: "\ea42";
}

.nc-planet::before {
    content: "\ea43";
}

.nc-preferences-circle-rotate::before {
    content: "\ea44";
}

.nc-puzzle-10::before {
    content: "\ea45";
}

.nc-quote::before {
    content: "\ea46";
}

.nc-refresh-02::before {
    content: "\ea47";
}

.nc-ruler-pencil::before {
    content: "\ea48";
}

.nc-satisfied::before {
    content: "\ea49";
}

.nc-scissors::before {
    content: "\ea4a";
}

.nc-send::before {
    content: "\ea4b";
}

.nc-settings-90::before {
    content: "\ea4c";
}

.nc-settings-gear-64::before {
    content: "\ea4d";
}

.nc-settings-tool-66::before {
    content: "\ea4e";
}

.nc-simple-add::before {
    content: "\ea4f";
}

.nc-simple-delete::before {
    content: "\ea50";
}

.nc-simple-remove::before {
    content: "\ea51";
}

.nc-single-02::before {
    content: "\ea52";
}

.nc-single-copy-04::before {
    content: "\ea53";
}

.nc-spaceship::before {
    content: "\ea54";
}

.nc-square-pin::before {
    content: "\ea55";
}

.nc-stre-down::before {
    content: "\ea56";
}

.nc-stre-left::before {
    content: "\ea57";
}

.nc-stre-right::before {
    content: "\ea58";
}

.nc-stre-up::before {
    content: "\ea59";
}

.nc-sun-fog-29::before {
    content: "\ea5a";
}

.nc-support-17::before {
    content: "\ea5b";
}

.nc-tablet-2::before {
    content: "\ea5c";
}

.nc-tag-content::before {
    content: "\ea5d";
}

.nc-tap-01::before {
    content: "\ea5e";
}

.nc-time-alarm::before {
    content: "\ea5f";
}

.nc-tv-2::before {
    content: "\ea60";
}

.nc-umbrella-13::before {
    content: "\ea61";
}

.nc-vector::before {
    content: "\ea62";
}

.nc-watch-time::before {
    content: "\ea63";
}

.nc-zoom-split::before {
    content: "\ea64";
}

/*--------------------------------

nucleo-icons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */

@font-face {
    font-family: 'nucleo-icons';
    src: url("/fonts/nucleo-icons.eot");
    src: url("/fonts/nucleo-icons.eot") format("embedded-opentype"), 
        url("/fonts/nucleo-icons.woff2") format("woff2"), 
        url("/fonts/nucleo-icons.woff") format("woff"), 
        url("/fonts/nucleo-icons.ttf") format("truetype"), 
        url("/fonts/nucleo-icons.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

